.antd-tabs-container {
    margin: 25px auto;
}

.antd-tabs-container h1 {
    text-transform: uppercase;
}

.tabs-content {
    min-height: 50px;
}

.antd-tabs-container h1,
.tabs-content {
    animation: fadeIn 2s;
}

@media screen and (max-width: 640px) {

    .tabs-content {
        height: 60vh;
        width: 100%;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 480px) {
    .tabs-content {
        height: 45vh;
        overflow-x: scroll;
    }
}