.site-collapsible-container {
    margin: 20px auto;
}

.collapsible-icon {
    float: right;
    margin-right: 10px 
}

.site-collapsible {
    animation: fadeIn 2s;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    user-select: none;
}

.site-collapsible,
.site-collapsible-content {
    padding: 10px;
}

/* TRANSITIONS */
.collapsible-transition-enter,
.collapsible-transition-exit-active {
    opacity: 0; 
}

.collapsible-transition-exit, 
.collapsible-transition-enter-active {
    opacity: 1;
}

.collapsible-transition-enter-active {
    transition: all 2s;
}

.collapsible-transition-exit-active {
    transition: all 0.5s;
}
    