/* Entire nav attributes */
.site-topnav,
.small-menu-block {
    width: 100%;
    background-color: black;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
}

/* Top Nav Attributes */
.site-topnav {
    top: 0;
}

/* Nav Logo */
.site-nav-logo a {
    border-right: 1px solid white;
    font-weight: 900;
    padding-right: 10px;
}

/* Nav Link Colors */
.site-topnav a,
.site-small-link a,
.small-menu-icon,
.small-menu-icon {
    color: #f2f2f2;
    cursor: pointer;
    text-decoration: none;
}

.site-topnav a:hover,
.site-small-link a:hover,
.small-menu-icon:hover {
    color: rgb(187, 187, 187);
}

/* Full nav link attributes */
.site-nav-link,
.site-nav-logo {
    float: left;
}

.site-nav-link,
.site-nav-logo,
.site-small-link a {
    font-weight: 700;
}

.site-nav-logo,
.site-nav-link,
.small-menu-icon,
.site-small-link a {
    padding: 15px;
}

/* SMALL MENU ATTRIBUTES */
.small-menu-icon,
.small-menu-block {
    display: none;
}

.small-menu-icon {
    float: right;
}

.site-small-link a {
    font-weight: 700;
}

/** SMALL MENU LOGIC **/
@media screen and (max-width: 1080px) {
    /* when it gets get 800px width links will vanish */
    .site-nav-link {
        display: none;
    }

    .small-menu-block,
    .small-menu-icon,
    .site-small-link a {
        display: block;
    }
}