header {
    position: fixed;
    top: 0;
    width: 100%;
}

.site-navbar {
    overflow: hidden;
}

.site-dropdown, 
.site-navbar a {
    float: left;
    padding: 15px;
}

.site-dropbtn,
.site-dropdown-link a,
.site-nav-link a,
.site-nav-logo a {
    margin: 8px auto;
}

.site-small-link,
.site-small-link a,
.site-nav-logo a {
    padding: 15px 25px;
}

.site-dropbtn,
.site-navbar a,
.site-small-link,
.site-small-link a {
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
}
 
/* SITE DROPDOWN */
.site-dropdown-link {
    margin-right: 25px;
}

.site-dropdown-link a {
    padding: 5px 15px;
}

.site-dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 15px;
    position: absolute;
    z-index: 1;
}

/* SITE NAV LOGO */
.site-nav-logo a {
    border-right: 1px solid white;
    font-weight: 900;
}

/* SMALL MENU */
.small-menu-icon {
    float: right;
    padding: 22px;
    user-select: none;
}

.site-small-link,
.site-small-link a  {
    font-size: 15px;
}

/* COLOR */
.site-dropbtn,
.site-navbar a,
.site-small-link,
.site-small-link a,
.small-menu-icon {
    color: #ffffff;
}

.site-dropdown-content,
.site-navbar,
.small-menu {
    background: black;
}

/* DISPLAY */
.site-dropdown-content,
.small-menu,
.small-menu-icon {
    display: none;
}

.site-dropdown:hover 
.site-dropdown-content {
    display: block;
}

/* HOVER */
.site-dropbtn:hover,
.small-menu a:hover, 
.site-navbar a:hover,
.small-menu-icon:hover, 
.site-small-link:hover {
    color: #bfbfbf;
    cursor: pointer;
}

@media screen and (max-width: 750px) {

    .small-menu-icon,
    .small-menu {
        display: block;
    }

    .site-nav-menu {
        display: none;
    }

}