@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");

.tilt-cards {
    margin: 25px auto
}

.tilt-cards-container {
    background: #dddddd;
    border-radius: 15px;
    display: inline-block;
    margin: 10px;
    padding: 1em;
    position: relative;
    text-align: left;
    transition: 0.4s;
}

.tilt-cards-container h1,
.tilt-cards-container h2,
.tilt-cards-container h3,
.tilt-cards-container h4,
.tilt-cards-container h5 {
    font-weight: 400;
    margin: 0;
}

.tilt-cards-container img {
    display: inline-block;
    margin: auto;
    max-height: 150px;
}

.card__caption {
    background-color: #ffffffa6;
    border-radius: 0 0 3px 3px;
    padding: 1em;
    position: relative;
}

.card__image-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px 3px 0 0;
    text-align: center;
    padding: 1em 1em 0;
}

.card__name {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
}

.card__type {
    border-radius: 2px;
    background: #bbb;
    color: #fff;
    letter-spacing: 0.2em;
    line-height: 1;
    padding: 0.25em;
    position: absolute;
    right: 1em;
    text-transform: uppercase;
    top: 0;
    transform: translateY(-50%);
}

.card__type,
.card__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
}

.card-content {
    margin: 1em 0;
    width: 100%;
}

.tilt-cards-container:nth-child(1n)  {
    background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
    box-shadow: 0px 5px 20px -10px #3a1c71;
}

.tilt-cards-container:nth-child(1n)  .card__type {
    background: #c08a53;
}

.tilt-cards-container:nth-child(3n),
.tilt-cards-container:nth-child(3n+4) {
    background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
}

.tilt-cards-container:nth-child(3n) .card__type,
.tilt-cards-container:nth-child(3n + 4) .card__type {
    background: #000;
}

.tilt-cards-container:nth-child(2n) {
    background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
    box-shadow: 0px 5px 20px -10px #000851;
}

.tilt-cards-container:nth-child(2n) .card__type {
    background: #1cb5e0;
}

.tilt-cards-container:nth-child(4n) {
    background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}

.tilt-cards-container:nth-child(4n+0) .card__type {
    background: #c71800;
}

.tilt-cards-container:nth-child(1),
.tilt-cards-container:nth-child(4n) {
    transform: translateY(0px) rotate(4deg);
}

.tilt-cards-container:nth-child(2n),
.tilt-cards-container:nth-child(3n){
    transform: translateY(0px) rotate(-4deg);
}

.tilt-cards-container:hover {
    box-shadow: 0px 13px 30px -15px #000;
    transform: translateY(-10px);
    z-index: 5;
}

@media screen and (max-width: 640px) {
    .tilt-cards-container {
        margin: 50px auto 10px;
        transform: translateY(0px) rotate(0deg) !important;
        width: 90%;
    }
}