@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");

.tilt-cards {
    margin: 25px auto
}

.tilt-cards-container {
    display: inline-block;
    padding: 1em;
    border-radius: 15px;
    margin: 10px;
    background: #ddd;
    text-align: left;
    position: relative;
    transition: 0.4s;
}

.tilt-cards-container h1,
.tilt-cards-container h2,
.tilt-cards-container h3,
.tilt-cards-container h4,
.tilt-cards-container h5 {
    margin: 0;
    font-weight: 400;
}

.tilt-cards-container img {
    max-height: 150px;
    margin: auto;
    display: inline-block;
}

.card__caption {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;
}

.card__image-container {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
}

.card__name {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.card__type {
    position: absolute;
    top: 0;
    right: 1em;
    transform: translateY(-50%);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbb;
}

.card__type,
.card__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
}

.card-content {
    margin: 1em 0;
    width: 100%;
}

.tilt-cards-container:nth-child(1n)  {
    background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
    box-shadow: 0px 5px 20px -10px #3a1c71;
}

.tilt-cards-container:nth-child(1n)  .card__type {
    background-color: #c08a53;
}

.tilt-cards-container:nth-child(3n),
.tilt-cards-container:nth-child(3n+4) {
    background: linear-gradient(90deg, rgba(255, 222, 0, 1) 34%, rgba(232, 255, 153, 1) 83%);
}

.tilt-cards-container:nth-child(3n) .card__type,
.tilt-cards-container:nth-child(3n + 4) .card__type {
    background-color: #000;
}

.tilt-cards-container:nth-child(2n) {
    background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
    box-shadow: 0px 5px 20px -10px #000851;
}

.tilt-cards-container:nth-child(2n) .card__type {
    background-color: #1cb5e0;
}

.tilt-cards-container:nth-child(4n) {
    background: linear-gradient(0deg, rgba(199, 24, 0, 1) 10%, rgba(252, 194, 69, 1) 100%);
}

.tilt-cards-container:nth-child(4n+0) .card__type {
    background-color: rgba(199, 24, 0, 1);
}

.tilt-cards-container:nth-child(1),
.tilt-cards-container:nth-child(4n) {
    transform: translateY(0px) rotate(4deg);
}

.tilt-cards-container:nth-child(2n),
.tilt-cards-container:nth-child(3n){
    transform: translateY(0px) rotate(-4deg);
}

.tilt-cards-container:hover {
    z-index: 5;
    box-shadow: 0px 13px 30px -15px #000;
    transform: translateY(-10px);
}

@media screen and (max-width: 640px) {
    .tilt-cards-container {
        transform: translateY(0px) rotate(0deg) !important;
        width: 90%;
        margin: 50px auto 10px;
    }
}